flex-item#editorParent(style='flex: 2;')
    flex-item#editor1
        flex.v(style='flex: 2; height: 100%')
            flex-item#editor1Tab
                .tabs
                    button.tab1links(onclick="openTab(event, 'tab1', 'tab1links', 'tab1content')") Tab1
                    button.tab1links(onclick="openTab(event, 'tab2', 'tab1links', 'tab1content')") Tab2
                    button.tab1links(onclick="openTab(event, 'tab3', 'tab1links', 'tab1content')") Tab3
            flex-item#editor1Bread
                | editor1Bread
            flex-item#editor1Text
                .tabcontents
                    #tab1.tab1content
                        #artist-table-header
                            button.tablebButton#artist-table-add-row
                                svg(type="image/svg+xml" class="icon" style="height:100%; width:100%;" aria-hidden="true")
                                    use(xlink:href="/sprite/sprite.svg#add")
                            button.tablebButton#artist-table-undo
                                svg(type="image/svg+xml" class="icon" style="height:100%; width:100%;" aria-hidden="true")
                                    use(xlink:href="/sprite/sprite.svg#undo")
                            button.tablebButton#artist-table-redo
                                svg(type="image/svg+xml" class="icon" style="height:100%; width:100%;" aria-hidden="true")
                                    use(xlink:href="/sprite/sprite.svg#redo")
                        .table-div#artist-table

                    #tab2.tab1content
                    #tab3.tab1content tab3
