
//-script
    include ../public/javascripts/progressNav.js
//- script
    include ../public/javascripts/menuNav.js
div(class="row")
    footer(Class='col is-center')
        p(class='is-center') Copyright © 2024 VinylDB
