nav(class="col is-center")
  a(href='#catalog' class='active' active-color='red' style="color: red;") Home
  a(href='#releases' active-color='Green') All releases
  a(href='#/artists') All artists
  a(href='/catalog/genres') All genres
  a(href='/catalog/copies') All copies

  span(class="nav-indicator")




