flex-item#ab
    section
        flex-item#abTab
            .tabs
                button.tab0links(onLoad="openTab(event, 'tab0', 'tab0links', 'tab0content', 'tab0')", onclick="openTab(event, 'tab0', 'tab0links', 'tab0content', 'tab0')")
                    svg(type="image/svg+xml" class="icon" aria-hidden="true")
                        use(xlink:href="/sprite/sprite.svg#library_books")
                button.tab0links(onclick="openTab(event, 'tab00', 'tab0links', 'tab0content', 'tab00')")
                    svg(type="image/svg+xml" class="icon" aria-hidden="true")
                        use(xlink:href="/sprite/sprite.svg#library_add")
                button.tab0links(onclick="openTab(event, 'tab000', 'tab0links', 'tab0content', 'tab000')")
                    svg(type="image/svg+xml" class="icon" aria-hidden="true")
                        use(xlink:href="/sprite/sprite.svg#people")
flex-item#sb1(style='flex: 1;')
    flex.v(class="" style='flex: 2; height: 100%')
        flex-item#sb1tab
            .tabcontents
                .tab0.tab0content Explorer
                .tab00.tab0content tab00 tab
                .tab000.tab0content tab000 tab
        flex-item#sb1bread
            .tabcontents
                .tab0.tab0content
                    .accordion-container
                        .accordion(style="display: inline-block;")
                            acch1
                                input#rotateControl1(type="checkbox")
                                label#rotateIcon1(for="rotateControl1")
                                    svg(type="image/svg+xml" class="icon" aria-hidden="true" style="display: inline-block; vertical-align: top;")
                                        use(xlink:href="/sprite/sprite.svg#chevron_right")
                                | VinylDB
                            .open
                                acch2
                                    svg(type="image/svg+xml" class="icon" aria-hidden="true" style="display: inline-block; vertical-align: top;")
                                        use(xlink:href="/sprite/sprite.svg#chevron_right")
                                    | Artists
                                .closed
                                    acch3
                                        svg(type="image/svg+xml" class="icon" aria-hidden="true" style="display: inline-block; vertical-align: top;")
                                            use(xlink:href="/sprite/sprite.svg#chevron_right")
                                        | subartist 1
                                    acch4
                                        svg(type="image/svg+xml" class="icon" aria-hidden="true" style="display: inline-block; vertical-align: top;")
                                            use(xlink:href="/sprite/sprite.svg#chevron_right")
                                        | subsubartist 1
                                    acch5
                                        svg(type="image/svg+xml" class="icon" aria-hidden="true" style="display: inline-block; vertical-align: top;")
                                            use(xlink:href="/sprite/sprite.svg#chevron_right")
                                        | subsubsubartist 1
                                    acch6
                                        svg(type="image/svg+xml" class="icon" aria-hidden="true" style="display: inline-block; vertical-align: top;")
                                            use(xlink:href="/sprite/sprite.svg#chevron_right")
                                        | subsubsubsubartist 1
                                    .closed
                                acch2
                                    svg(type="image/svg+xml" class="icon" aria-hidden="true" style="display: inline-block; vertical-align: top;")
                                        use(xlink:href="/sprite/sprite.svg#chevron_right")
                                    | Releases
                                .closed
                                    acch3
                                        svg(type="image/svg+xml" class="icon" aria-hidden="true" style="display: inline-block; vertical-align: top;")
                                            use(xlink:href="/sprite/sprite.svg#chevron_right")
                                        | subartist 1
                                    acch4
                                        svg(type="image/svg+xml" class="icon" aria-hidden="true" style="display: inline-block; vertical-align: top;")
                                            use(xlink:href="/sprite/sprite.svg#chevron_right")
                                        | subsubartist 1
                                    acch5
                                        svg(type="image/svg+xml" class="icon" aria-hidden="true" style="display: inline-block; vertical-align: top;")
                                            use(xlink:href="/sprite/sprite.svg#chevron_right")
                                        | subsubsubartist 1
                                    acch6
                                        svg(type="image/svg+xml" class="icon" aria-hidden="true" style="display: inline-block; vertical-align: top;")
                                            use(xlink:href="/sprite/sprite.svg#chevron_right")
                                        | subsubsubsubartist 1
                                    .closed
                                acch2
                                    svg(type="image/svg+xml" class="icon" aria-hidden="true" style="display: inline-block; vertical-align: top;")
                                        use(xlink:href="/sprite/sprite.svg#chevron_right")
                                    | Copies
                                .closed
                                    acch3
                                        svg(type="image/svg+xml" class="icon" aria-hidden="true" style="display: inline-block; vertical-align: top;")
                                            use(xlink:href="/sprite/sprite.svg#chevron_right")
                                        | subartist 1
                                    acch4
                                        svg(type="image/svg+xml" class="icon" aria-hidden="true" style="display: inline-block; vertical-align: top;")
                                            use(xlink:href="/sprite/sprite.svg#chevron_right")
                                        | subsubartist 1
                                    acch5
                                        svg(type="image/svg+xml" class="icon" aria-hidden="true" style="display: inline-block; vertical-align: top;")
                                            use(xlink:href="/sprite/sprite.svg#chevron_right")
                                        | subsubsubartist 1
                                    acch6
                                        svg(type="image/svg+xml" class="icon" aria-hidden="true" style="display: inline-block; vertical-align: top;")
                                            use(xlink:href="/sprite/sprite.svg#chevron_right")
                                        | subsubsubsubartist 1
                                    .closed
                .tab00.tab0content
                .tab000.tab0content tab000 bc
        section#sb1tree
            .tabcontents
                .tab0.tab0content
                .tab00.tab0content tab00
                .tab000.tab0content tab000
flex-resizer(class="")
