extends layout

block content
  h1= title

  if artist_list.length
    ul
      each artist in artist_list
        li
          a(href=artist.url) #{artist.name}
          |  (#{artist.lifespan})

  else
    p There are no artists.
