doctype html
html(lang='en')
    head
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel="stylesheet", href="/stylesheets/naturalselection.css")
      link(rel="stylesheet", href="/stylesheets/chota.min.css")
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")

    body(class='dark')
      //-div(class="row is-center")
        block sidebar
          include /includes/nav.pug
      div(class="row is-center")
        div(class="col-4")
          div(class="toc")
            ul
              li
                a(href="#catalog" ) Home
              li
                a(href="#releases") Releases
                ul
                  li
                    a(href="#release-create") Create new release
              li
                a(href="#artists") Artists
                ul
                  li
                    a(href="#artist-create") Create new artist
              li
                a(href="#genres") Genres
                ul
                  li
                    a(href="#genre-create") Create new genre
              li
                a(href="#copies") Copies
                ul
                  li
                    a(href="#copy-create") Create new copy
            svg(class="toc-marker", width="200", height="200", xmlns="http://www.w3.org/2000/svg")
              path(stroke="#AAA" stroke-width="3" fill="transparent" stroke-dasharray="0, 0, 0, 1000" stroke-linecap="round" stroke-linejoin="round" transform="translate(-0.5, -0.5)")
        div(id="catalog")
        div(id="releases")
        div(id="artists")
        main(class='col-12 col-2-sm col-8-md')
          .breadcrumb-container
            ul.breadcrumbs.breadcrumbs_type5
              li.breadcrumbs__item
                a.breadcrumbs__element(href="#0") Home
              li.breadcrumbs__item
                a.breadcrumbs__element(href="#0") Copies
              li.breadcrumbs__item.breadcrumbs__item_active
                span.breadcrumbs__element Copy
          block content
      script
        include ../public/javascripts/progressNav.js
      script
        include ../public/javascripts/menuNav.js
      div(class="row")
        footer(Class='col is-center')
          p(class='is-center') Copyright © 2024



