doctype html
html(lang='en')
    head
       include includes/header.pug
       script
        include ../public/vendor/jquery-3.7.1.min.js
    body(class='dark')
        flex.v#fc1
            include includes/flex-search.pug
            flex.h(class="pinLeft")
                include includes/flex-main.pug
            flex.h(style='flex; 1; max-height:28px;')
                flex-item#statusBar
                    #statusBarLeft
                        | statusBarLeft
                    #statusBarRight
                        | statusBarRight
        block content
    footer
        script
            include ../public/javascripts/flexResize.js
        script
            include ../public/javascripts/accordion.js
        script
            include ../public/javascripts/loginHandlers.js
        script
            include ../public/javascripts/dataHandlers.js
        script
            include ../public/vendor/tabulator.min.js
        include includes/footer.pug
