doctype html
html(lang='en')
    head
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel='svg' href='/sprite/sprite.svg')
        //-script(src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous")
        script
            include ../public/javascripts/jquery-3.7.1.min.js
    body(class='dark')
        //-

        //-div(class="row is-center")
            block sidebar
        flex.v#fc1
            flex-item#searchbar
                svg(type="image/svg+xml" class="icon" aria-hidden="true")
                    use(xlink:href="/sprite/sprite.svg#arrow_back")
                svg(type="image/svg+xml" class="icon" aria-hidden="true")
                 use(xlink:href="/sprite/sprite.svg#arrow_forward")
                form.vscode-search#searchForm(action="/search" method="GET")
                    #searchdiv
                        input#search-input(type="text" name="q" placeholder="Search...")
                    #searchButton
                        button(type="submit" class="vscode-search-submit")
            flex.h(class="pinLeft")
                flex-item#ab
                    section
                        flex-item#abTab
                                .tabs
                                    button.tab0links(onclick="openTab(event, 'tab0', 'tab0links', 'tab0content', 'tab0')")
                                        svg(type="image/svg+xml" class="icon" aria-hidden="true")
                                            use(xlink:href="/sprite/sprite.svg#library_books")
                                    button.tab0links(onclick="openTab(event, 'tab00', 'tab0links', 'tab0content', 'tab00')")
                                        svg(type="image/svg+xml" class="icon" aria-hidden="true")
                                            use(xlink:href="/sprite/sprite.svg#library_add")
                                    button.tab0links(onclick="openTab(event, 'tab000', 'tab0links', 'tab0content', 'tab000')")
                                        svg(type="image/svg+xml" class="icon" aria-hidden="true")
                                            use(xlink:href="/sprite/sprite.svg#people")
                flex-item#sb1(style='flex: 1;')
                    flex.v(class="" style='flex: 2; height: 100%')
                        flex-item#sb1tab
                            .tabcontents
                                .tab0.tab0content Explorer
                                .tab00.tab0content tab00 tab
                                .tab000.tab0content tab000 tab
                        flex-item#sb1bread
                            .tabcontents
                                .tab0.tab0content
                                    svg(type="image/svg+xml" class="icon" aria-hidden="true")
                                            use(xlink:href="/sprite/sprite.svg#chevron_right")
                                    | vinyldb
                                .tab00.tab0content
                                .tab000.tab0content tab000 bc
                        section#sb1tree
                            .tabcontents
                                .tab0.tab0content tab0
                                .tab00.tab0content tab00
                                .tab000.tab0content tab000
                flex-resizer(class="")
                flex.v(class="pinLeft" style='flex: 2; height: 100%;')
                    flex.h(style='flex: 1')
                        flex-item#editorParent(style='flex: 2;')
                            flex-item#editor1
                                flex.v(style='flex: 2; height: 100%')
                                    flex-item#editor1Tab
                                        .tabs
                                            button.tab1links(onclick="openTab(event, 'tab1', 'tab1links', 'tab1content')") Tab1
                                            button.tab1links(onclick="openTab(event, 'tab2', 'tab1links', 'tab1content')") Tab2
                                            button.tab1links(onclick="openTab(event, 'tab3', 'tab1links', 'tab1content')") Tab3
                                    flex-item#editor1Bread
                                        | editor1Bread
                                    flex-item#editor1Text
                                        .tabcontents
                                            #tab1.tab1content tab1
                                            #tab2.tab1content tab2
                                            #tab3.tab1content tab3

                        flex-resizer
                        flex-item#editorparent(style='flex: 2;')
                            flex.v(style='flex: 2; height: 100%')
                                flex-item#editor2Tab
                                    .tabs
                                        button.tab2links(onclick="openTab(event, 'tab4', 'tab2links', 'tab2content')") Tab4
                                        button.tab2links(onclick="openTab(event, 'tab5', 'tab2links', 'tab2content')") Tab5
                                        button.tab2links(onclick="openTab(event, 'tab6', 'tab2links', 'tab2content')") Tab6
                                flex-item#editor2Bread
                                    | editor2Bread
                                flex-item#editor2Text
                                        .tabcontents
                                            #tab4.tab2content tab4
                                            #tab5.tab2content tab5
                                            #tab6.tab2content tab6
                    flex-resizer
                    flex.h(class="")
                        flex-item#console
                            | console
                flex-resizer
                flex.h(class="pinRight excludePrev")
                    flex-item#sb2
                        section
                            | sb2
            flex.h(style='flex; 1; max-height:28px;')
                flex-item#statusBar
                    #statusBarLeft
                        | statusBarLeft
                    #statusBarRight
                        | statusBarRight
        block content
        script
            include ../public/javascripts/flexresize.js
        //-script
            include ../public/javascripts/accordion.js
        //-script
            include ../public/javascripts/progressNav.js
        //- script
            include ../public/javascripts/menuNav.js
        div(class="row")
            footer(Class='col is-center')
                p(class='is-center') Copyright © 2024



