form(id="loginForm")
    label(for="username") Username
    input(type="text", id="username", name="username", required)
    label(for="password") Password
    input(type="password", id="password", name="password", required)
    button(type="submit") Login
