extends layout

block content
  h1= title

  if release_list.length
    ul
      each release in release_list
        li
          a(href=release.url) #{release.title}
          |  (#{release.artist.name})

  else
    p There are no releases.
