//@import url('/stylesheets/modern-normalize.css');
//@import url('/stylesheets/naturalselection.css');
//@import url('/stylesheets/chota.min.css');
//@import url('/stylesheets/breadcrumbs.css');

base00 = #000000;
base01 = #1E1F1C;
base02 = #231F20;
base03 = #272823;
base04 = #292A28;
base05 = #2C2D26;
base06 = #343530;
base07 = #41413F;
base08 = #C1C1C1;
base09 = #DBDBDB;
yellow = #b58900;
orange = #cb4b16;
red = #dc322f;
magenta = #d33682;
violet = #6c71c4;
blue = #268bd2;
cyan = #2aa198;
green = #859900;
menu-width = 14em;
menuPaddingLeft = 3em;
breadcrumbsTextColor = base1;
breadcrumbsTextColorActive = base3;
breadcrumbsDivider = '›';
breadcrumbsDividerColor = base2;
breadcrumbsDividerSize = 20px;
breadcrumbsIndent = 8px;
dark01 = #1E1F1C;
dark02 = #272823;
dark03 = #2C2D26;
dark04 = #343530;
dark05 = #41413F;
highlight01 = #7F7C6A;
light01 = #CCCCCC;
light02 = #ABABAA;
light03 = #C1C1C1;

:root {
    --base03: rgb(15, 5, 0);
    --base02: rgb(36, 18, 0);
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
    --menu-width: 14em;
    --menuPaddingLeft: 3em;
    --breadcrumbsTextColor: var(--base1);
    --breadcrumbsTextColorActive: var(--base3);
    --breadcrumbsDivider: '›';
    --breadcrumbsDividerColor: var(--base2);
    --breadcrumbsDividerSize: 20px;
    --breadcrumbsIndent: 8px;
}

h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--base2);
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 16pt;
    line-height: 20pt;
}

body.dark {
    background-color: base01;
    color: var(--base2);
}

flex {
    flex: 1;
    display: flex;
    overflow: hidden;
}

flex.h {
    flex-direction: row;
}

flex.v {
    flex-direction: column;
    padding: 0;
    margin: 0;
}

flex-item {
    /* display: flex; */
    /* position: relative; */
    /* overflow: hidden; */
    overflow: auto;
}

flex > flex-resizer {
    flex: 0 0 3px; /* background: white; */
    background-color: dark03;
    background-repeat: no-repeat;
    background-position: center;
}

flex.h > flex-resizer {
    cursor: ew-resize;
    // background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='30'><path d='M2 0 v30 M5 0 v30 M8 0 v30' fill='none' stroke='black'/></svg>");
}

flex.v > flex-resizer {
    cursor: ns-resize;
    // background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='10'><path d='M0 2 h30 M0 5 h30 M0 8 h30' fill='none' stroke='black'/></svg>");
}

#fc1 {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    color: light01;
}

#searchbar {
    background-color: dark01;
    height: 52px;
    max-height: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;

}


#searchButton {
    display: none;
}

.vscode-search-submit {
    display: none;
}


#searchdiv {
    min-width: 100px;
    width: 600px;
    height: 30px;
}

#searchForm {
    display: inline-blockl;
    min-width: 100px;
    width: 600px;
    height: 30px;
    margin-left: 12px;
}

#search-input {
    height: 100%;
    width: 100%;
    border: 1px solid base07;
    border-radius: 5px;
    background-color: base03;
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
}

#search-input:focus {
    min-height 100%
    min-width 100%
    border 1px solid light03
    background-color dark04
    text-align center
}

#search-input:hover {
    height: 100%;
    width: 100%;
    border: 1px solid base08;
    background-color: base07;
    text-align: center;
}

#ab {
    background-color: dark02;
    width: 58px;
    max-width: 58px;
    min-width: 0px;
}

#sb1, #sb2 {
    flex: 1;
    width: 100px;
}

#sb2 {
    background-color: dark01;
}

#sb1tab, #editor1Tab, #editor2Tab {
    background-color: dark01;
    height: 42px;
    display: flex;
    justify-content: left;
    align-items: center;
}

#sb1bread, #editor1Bread, #editor2Bread {
    background-color: dark02;
    color: light02;
    display: flex;
    justify-content: left;
    align-items: center;
}

#sb1tree {
    flex: 1;
    background-color: dark01;
    display: flex;
    justify-content: center;
    align-items: center;
}

#editorParent {
    flex: 1;
    background-color: dark04;
}

#editor1, #editor2 {
    flex: 2;
    height: 100%;
}

#editor1Tab, #editor2Tab {
    overflow: hidden;
}

.tabs {
    overflow: hidden;
    background-color: dark04;
}

.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: light02;
}

.tabs button.active {
    background-color: dark02;
    color: light01;
}

button.tab0links {
    display: block;
    padding: 25%;
}

button.tab0links.active {
}

.tabcontents, .tab1content, .tab2content {
    color: light01;
    width: 100%;
    height: 100%;
    font-family: Consolas, monospace;
}

#editor1Text, #editor2Text {
    flex: 2;
    background-color: dark03;
    display: flex;
    justify-content: center;
    align-items: center;
}

#statusBar {
    flex: 1;
    max-height: 28px;
    background-color: highlight01;
}

#statusBarLeft {
    max-width: 40%;
    display: inline;
}

#statusBarRight {
    max-width: 40%;
    display: inline;
    float: right;
}

#console {
    background-color: dark02;
    flex: 1;
    min-height: 200px;
}

/*











































*/
/* Main container styling */
main, footer {
    /* border-color: var(--yellow);
    border-width: 2px;
    border-style: solid; */
    margin: 20px;
    padding: 20px;
    border-radius: 0;
}

nav {
    justify-content: center;
    box-sizing: border-box;
    border-style: solid;
    border-color: var(--yellow);
    display: inline-flex;
    position: relative;
    overflow: hidden;
    padding: 0 20px;
    max-width: 100%;
    background-color: var(--base03);
    border-radius: 40px;
}

nav {
    a {
        color: var(--base1);
        padding: 20px;
        text-decoration: none;
        transition: 0.3s;
        margin: 0 6px;
        z-index: 1;
        font-weight: 500;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: var(--base2);
            border-radius: 8px 8px 0 0;
            opacity: 0;
            transition: 0.3s;
        }
    }

    :not(.active):hover:before {
        opacity: 1;
        bottom: 0;
    }

    :not(.active):hover {
        color: var(--base3);
    }
}

.nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.4s;
    height: 5px;
    z-index: 1;
    border-radius: 8px 8px 0 0;
}

@media (max-width: 580px) {
    .nav {
        overflow: auto;
    }
}

.row, .col-2 {
    flex: nowrap;
}

.box {
    box-sizing: border-box;
    flex: 1 1 auto;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

[class*='handle'] {
    width: 5px;
    padding: 0;
    cursor: col-resize;
    flex: 0 0 auto;
    z-index: 100;
}

.handler:hover {
    cursor: col-resize;
}

.handler::before {
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    background: red;
    margin: 0 auto;
}

h5 {
    color: #fff;
}

a, a:hover, .icon {
    height: 1.5em;
    width: 1.5em;
    color: base08;
}

.row > .icon {
    align-self: center;
    display: flex;
    margin: 4px 8px;
}

.toc {
    width: var(--menu-width);
    line-height: 2;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    ul ul {
        padding-left: 2em;
    }

    li a {
        display: inline-block;
        color: #aaa;
        text-decoration: none;
        transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    }

    li.visible>a {
        color: var(--base3);
        transform: translate(5px);
    }
}

.toc-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    color: var(--base3);

    path {
        transition: all 0.3s ease;
    }
}

.accordion {
    width: 100%;
    margin: auto;
    padding: 0;
}

.accordion h1, h2, h3, h4 {
    cursor: pointer;
}

.accordion h2, h3, h4, .accordion h1 {
    padding: 15px 20px;
    background-color: #333;
    font-size: 1.5rem;
    font-weight: normal;
    color: #1abc9c;
}

.accordion h1:hover {
    color: #4afcdc;
}

.accordion h1:first-child {
    border-radius: 10px 10px 0 0;
}

.accordion h1:last-of-type {
    border-radius: 0 0 10px 10px;
}

.accordion h1:not(:last-of-type) {
    border-bottom: 1px dotted #1abc9c;
}

.accordion div, .accordion p {
    display: none;
}

.accordion h2 {
    padding: 5px 25px;
    background-color: #1abc9c;
    font-size: 1.1rem;
    color: #333;
}

.accordion h2:hover {
    background-color: #09ab8b;
}

.accordion h3 {
    padding: 5px 30px;
    background-color: #b94152;
    font-size: 0.9rem;
    color: #ddd;
}

.accordion h3:hover {
    background-color: #a93142;
}

.accordion h4 {
    padding: 5px 35px;
    background-color: #ffc25a;
    font-size: 0.9rem;
    color: #af720a;
}

.accordion h4:hover {
    background-color: #e0b040;
}

.accordion p {
    padding: 15px 35px;
    background-color: #ddd;
    font-family: 'Georgia';
    font-size: 0.8rem;
    color: #333;
    line-height: 1.3rem;
}

.accordion .open {
    display: block;
}
